body {
    background-color: white;
    margin: 0;
    padding: 0;
}

px-app-nav {
    --px-app-nav-background-color: white;
}

px-spinner {
    --px-spinner-fill-color: blue;
    --px-spinner-background-color: pink;
}

#tail {
    text-align: center;
}