<!doctype html>
<html>
  <head>
      <title>{% block title %}Sample App{% endblock %}</title>
      {% block head_meta %}
      <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
      <script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js') }}"></script>
      <link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-theme/px-theme-styles.html') }}"/>
      {% endblock %}

      <!-- Predix components used by this app view -->
      <link rel="import" href="{{ url_for('bower.static', filename='px-app-nav/px-app-nav.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-branding-bar/px-branding-bar.html') }}"/>
  </head>
  <body>
      <px-branding-bar application-title="Wise Factory"></px-branding-bar>
      <px-app-nav items='[{"label":"Environments","id":"environments","icon":"px-fea:home", "children": [
                            { "label" : "ENV #1", "id" : "e1" },
                            { "label" : "ENV #2", "id" : "e2" },
                            { "label" : "ENV #3", "id" : "e3" }]}
                        , {"label":"Models","id":"models","icon":"px-fea:asset"}
                        , {"label":"Users","id":"users","icon":"px-fea:users"}
                        , {"label":"Dashboards","id":"dashboards","icon":"px-fea:dashboard"}
                        , {"label":"CI","id":"ci","icon":"px-fea:dev-ops"}
                        , {"label":"Developer Tools","id":"developer_tools","icon":"px-fea:administration", "children": [
                            { "label" : "DEV #1", "id" : "d1" }]}]'
                        selected-route='["models"]'>
      </px-app-nav>
    <div id="body">{% block body %}{% endblock %}</div>
    <div id="tail">
      {% block tail %}
        <p>&copy; Created with &hearts; by Wise.io in San Francisco / Denmark</p>
      {% endblock %}
    </div>
  </body>
</html>