{% extends 'admin/master.html' %}

{% block title %}Sample App{% endblock %}

{% block head_meta %}
      <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
      <script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js') }}"></script>
      <link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-theme/px-theme-styles.html') }}"/>

      <!-- Predix components used by this app view -->
      <link rel="import" href="{{ url_for('bower.static', filename='px-spinner/px-spinner.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-app-nav/px-app-nav.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-branding-bar/px-branding-bar.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-data-table/px-data-table.html') }}"/>
{% endblock %}

{% block body %}
    Hello World from MyView!
    <px-spinner size="100"></px-spinner>
{% endblock %}

{% block tail %}
    <p>&copy; 2016-2018 | Crafted with &hearts; by wise.io at GE Digital</p>
{% endblock %}