<!doctype html>
<html>
  <head>
      <title>{% block title %}Sample App{% endblock %}</title>
      <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
      <script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js') }}"></script>
      <link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}"/>

      <!-- Predix components used by this app view -->
      <link rel="import" href="{{ url_for('bower.static', filename='px-spinner/px-spinner.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-app-nav/px-app-nav.html') }}"/>

  </head>
  <body>
    <px-spinner size="100"></px-spinner>
    <px-app-nav items='[{"label":"Home","id":"home","icon":"px-fea:home"}]'></px-app-nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <p>&copy; Created with &hearts; by Wise.io in San Francisco / Denmark</p>
      {% endblock %}
    </div>
  </body>
</html>