<!--<!doctype html>-->
<!--<html>-->
  <!--<head>-->
      <!--<title>{% block title %}Sample App{% endblock %}</title>-->
      <!--<link rel="stylesheet" href="/static/css/styles.css" type="text/css">-->
      <!--<script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js') }}"></script>-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}"/>-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='px-theme/px-theme-styles.html') }}"/>-->

      <!--&lt;!&ndash; Predix components used by this app view &ndash;&gt;-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='px-spinner/px-spinner.html') }}"/>-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='px-app-nav/px-app-nav.html') }}"/>-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='px-branding-bar/px-branding-bar.html') }}"/>-->
      <!--<link rel="import" href="{{ url_for('bower.static', filename='px-data-table/px-data-table.html') }}"/>-->
  <!--</head>-->
  <!--<body>-->
      <!--&lt;!&ndash;<px-branding-bar>&ndash;&gt;-->
          <!--&lt;!&ndash;<px-icon slot="logo" icon="px-utl:alert"></px-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;<span slot="title">Sample Flask App with Predix UI Components</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</px-branding-bar>&ndash;&gt;-->
      <!--&lt;!&ndash;<px-app-nav items='[{"label":"Environments","id":"environments","icon":"px-fea:home"}&ndash;&gt;-->
                        <!--&lt;!&ndash;, {"label":"Models","id":"models","icon":"px-fea:home"}&ndash;&gt;-->
                        <!--&lt;!&ndash;, {"label":"Users","id":"users","icon":"px-fea:home"}&ndash;&gt;-->
                        <!--&lt;!&ndash;, {"label":"Dashboards","id":"dashboards","icon":"px-fea:home"}&ndash;&gt;-->
                        <!--&lt;!&ndash;, {"label":"CI","id":"ci","icon":"px-fea:home"}&ndash;&gt;-->
                        <!--&lt;!&ndash;, {"label":"Developer Tools","id":"developer_tools","icon":"px-fea:home"}]'></px-app-nav>&ndash;&gt;-->
      <!--&lt;!&ndash;<px-spinner size="100"></px-spinner>&ndash;&gt;-->
    <!--<div id="content">{% block content %}{% endblock %}</div>-->
    <!--<div id="footer">-->
      <!--{% block footer %}-->
        <!--<p>&copy; Created with &hearts; by Wise.io in San Francisco / Denmark</p>-->
      <!--{% endblock %}-->
    <!--</div>-->
  <!--</body>-->
<!--</html>-->