<!doctype html>
<html>
  <head>
      <title>{% block title %}Sample App{% endblock %}</title>
      <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
      <script src="{{ url_for('bower.static', filename='webcomponentsjs/webcomponents-lite.js') }}"></script>
      <link rel="import" href="{{ url_for('bower.static', filename='polymer/polymer.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-theme/px-theme-styles.html') }}"/>

      <!-- Predix components used by this app view -->
      <link rel="import" href="{{ url_for('bower.static', filename='px-spinner/px-spinner.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-app-nav/px-app-nav.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-branding-bar/px-branding-bar.html') }}"/>
      <link rel="import" href="{{ url_for('bower.static', filename='px-data-table/px-data-table.html') }}"/>
  </head>
  <body>
      <px-branding-bar>
          <px-icon slot="logo" icon="px-utl:alert"></px-icon>
          <span slot="title">Sample Flask App with Predix UI Components</span>
      </px-branding-bar>
      <px-app-nav items='[{"label":"Environments","id":"environments","icon":"px-fea:home"}
                        , {"label":"Models","id":"models","icon":"px-fea:home"}
                        , {"label":"Users","id":"users","icon":"px-fea:home"}
                        , {"label":"Dashboards","id":"dashboards","icon":"px-fea:home"}
                        , {"label":"CI","id":"ci","icon":"px-fea:home"}
                        , {"label":"Developer Tools","id":"developer_tools","icon":"px-fea:home"}]'></px-app-nav>
      <px-spinner size="100"></px-spinner>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <p>&copy; Crafted with &hearts; by wise.io in at GE Digital</p>
      {% endblock %}
    </div>
  </body>
</html>